django
django-registration-redux
djangorestframework
django-oauth-toolkit
django-cors-headers
requests
responses
django-filter
mixer
django-bootstrap3
WeasyPrint
PyPDF2
elasticsearch
numpy
rise_set
celery[redis]
