django
django-registration-redux
djangorestframework
django-oauth-toolkit
django-cors-headers
requests
django-filter
django-bootstrap3
WeasyPrint
PyPDF2
elasticsearch
numpy
rise_set
celery[redis]
django-redis-cache
psycopg2
django_extensions
lcogt-logging

ipython
mixer
responses
