django>=2.0,<2.1
django-registration-redux>=2.2,<2.3
djangorestframework>=3.7,<3.8
django-oauth-toolkit>=1.0,<1.1
django-cors-headers>=2.1,<2.2
requests>=2.18,<2.19
django-filter>=1.1,<1.2
django-bootstrap3>=8.0<9.0
time_intervals<2.0
WeasyPrint>=0.42<0.43
PyPDF2>=1.26,<1.27
elasticsearch>=6.0,<6.1
numpy>=1.14, <1.15
celery==4.1.0
django-redis-cache>=1.7,<1.8
psycopg2>=2.7,<2.8
django-extensions>=1.9,<1.10
gunicorn[gevent]>=19,<20
whitenoise>=3.3,<3.4
rise-set==0.4.9
lcogt-logging
redis

ipython
responses
mixer
