<dl class="dl-horizontal">
  {% with request.target as target %}
  <dt>Type</dt><dd>{{ target.type|lower }}</dd>
  {% if target.type == "SIDEREAL" %}
    <dt>Coordinate system</dt><dd>{{ target.coordinate_system }}</dd>
    <dt>RA</dt><dd>{{ target.ra|floatformat:3 }}</dd>
    <dt>Dec</dt><dd>{{ target.dec|floatformat:3 }}</dd>
    <dt>Epoch</dt><dd>{{ target.epoch }}</dd>
    {% if target.proper_motion_ra %}<dt>Proper Motion RA</dt><dd>{{ target.proper_motion_ra }}</dd>{% endif %}
    {% if target.proper_motion_dec%}<dt>Proper Motion Dec</dt><dd>{{ target.proper_motion_dec }}</dd>{% endif %}
    {% if target.parallax %}<dt>Parallax </dt><dd>{{ target.parallax }}</dd>{% endif %}
  {% endif %}
  {% if target.type == "NON_SIDEREAL" %}
    <dt>Scheme:</dt><dd>{{ target.scheme }}</dd>
    {% if target.epochofel %}<dt>Epoch Of Elements</dt><dd>{{ target.epochofel }}</dd>{% endif %}
    {% if target.orbinc %}<dt>Orbital Inclination</dt><dd>{{ target.orbinc|floatformat }}</dd>{% endif %}
    {% if target.longascnode %}<dt>Lon. of Ascending Node</dt><dd>{{ target.longascnode|floatformat:3 }}</dd>{% endif %}
    {% if target.longofperih %}<dt>Lon. of Perihelion </dt><dd>{{ target.longofperih|floatformat:3 }}</dd>{% endif %}
    {% if target.argofperih %}<dt>Argument of Perihelion </dt><dd>{{ target.argofperih|floatformat:3 }}</dd>{% endif %}
    {% if target.meandist %}<dt>Semi-Major Axis</dt><dd>{{ target.meandist|floatformat:3 }}</dd>{% endif %}
    {% if target.perihdist %}<dt>Perihelion Distance</dt><dd>{{ target.perihdist|floatformat:3 }}</dd>{% endif %}
    {% if target.eccentricity %}<dt>Eccentricity</dt><dd>{{ target.eccentricity|floatformat:3 }}</dd>{% endif %}
    {% if target.meanlong %}<dt>Mean Longitude</dt><dd>{{ target.meanlong|floatformat:3 }}</dd>{% endif %}
    {% if target.meananom %}<dt>Mean Anomaly</dt><dd>{{ target.meananom|floatformat:3 }}</dd>{% endif %}
    {% if target.dailymot %}<dt>Daily Motion</dt><dd>{{ target.dailymot|floatformat:3 }}</dd>{% endif %}
    {% if target.epochofperih%}<dt>Epoch of Perihelion</dt><dd>{{ target.epochofperih|floatformat:3 }}</dd>{% endif %}
  {% endif %}
  {% if target.type == 'SATELLITE' %}
    <dt>Altitude</dt><dd>{{ target.altitude }}</dd>
    <dt>Azimuth</dt><dd>{{ target.azimuth }}</dd>
    <dt>Epoch</dt><dd>{{ target.epoch }}</dd>
    <dt>Diff. Altitude Rate</dt><dd>{{ target.diff_pitch_rate }}</dd>
    <dt>Diff. Azimuth Rate</dt><dd>{{ target.diff_roll_rate }}</dd>
    <dt>Diff. Altitude Accel.</dt><dd>{{ target.diff_pitch_acceleration }}</dd>
    <dt>Diff. Azimuth Accel.</dt><dd>{{ target.diff_roll_acceleration }}</dd>
    <dt>Diff. Epoch Rate</dt><dd>{{ target.diff_epoch_rate }}</dd>
  {% endif %}
  {% endwith %}
</dl>
