{% extends "base.html" %}
{% load static %}
{% block title %}Create New Request {% endblock %}
{% block content %}
{% verbatim %}
<div id="vueapp">
  <div class="row">
    <div class="col-md-12">
      <h2>Observation Request: {{ userrequest.group_id }}</h2>
      <div class="form-group">
        <input type="checkbox" id="advanced" v-model="advanced">
        <label for="advanced">Show advanced options</label>
      </div>
      <form class="form-inline" v-on:change="validate()">
        <request-field id="title" label="Title" v-model="userrequest.group_id" :errpath="errors.group_id" size="col-md-3"></request-field>
        <div class="form-group" :class="{'has-error': errors['proposal'].length && userrequest.proposal}">
          <label for="proposal">Proposal:</label>
          <select id="proposal" v-model="userrequest.proposal" name="proposal" class="form-control">
            <option>Choose a proposal</option>
            <option v-for="proposal in proposals">{{ proposal }}</option>
          </select>
          <span v-show="errors['proposal'].length && userrequest.proposal" v-show="userrequest.proposal" class="help-block">{{ errors['proposal'] }}</span>
        </div>
        <request-field id="ipp_value" label="Ipp Value" v-model="userrequest.ipp_value" :errpath="errors.ipp_value" size="col-md-3"></request-field>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Observation Elements</h3><small><a href="#" v-on:click="addRequest()">Add Another Request</a>
    </div>
  </div>
  <!-- For each Request -->
  <div class="row" v-for="(request, index) in userrequest.requests">
    <div class="col-md-12">
    <!-- Taget form -->
    <h4>Target: {{ request.target.name }}</h4>
    <form class="form-inline" v-on:change="validate()">
      <request-field id="name" label="Name" v-model="request.target.name" :errpath="errors.requests[index].target.name" size="col-md-6"></request-field>
      <div class="form-group">
        <label for="target_type">Type:</label>
        <select id="target_type" v-model="request.target.type" class="form-control">
          <option value="SIDEREAL">Sidereal</option>
          <option value="NON_SIDEREAL">Non-Sidereal</option>
        </select>
        <div class="error" v-if="errors.requests[index].target.type.length">
          <span class="text-danger" v-for="error in errors.requests[index].target.type">{{ error }}</span>
        </div>
      </div>
    </form>

    <!-- Sidereal form -->
    <form class="form" v-if="request.target.type == 'SIDEREAL'" v-on:change="validate()">
      <request-field id="ra" label="Right Ascension" v-model="request.target.ra" :errpath="errors.requests[index].target.ra" size="col-md-6"></request-field>
      <request-field id="dec" label="Declination" v-model="request.target.dec" :errpath="errors.requests[index].target.dec" size="col-md-6"></request-field>
      <request-field id="proper_motion_ra" label="Proper Motion RA" v-if="advanced" v-model="request.target.proper_motion_ra" :errpath="errors.requests[index].target.proper_motion_ra" size="col-md-6"></request-field>
      <request-field id="proper_motion_dec" label="Proper Motion Dec" v-if="advanced" v-model="request.target.proper_motion_dec" :errpath="errors.requests[index].target.proper_motion_dec" size="col-md-6"></request-field>
      <request-field id="epoch" label="Epoch" v-if="advanced" v-model="request.target.epoch" :errpath="errors.requests[index].target.epoch" size="col-md-6"></request-field>
      <request-field id="parallax" label="Parallax" v-if="advanced" v-model="request.target.parallax" :errpath="errors.requests[index].target.parallax" size="col-md-6"></request-field>
    </form>

    <!-- NonSidereal Form -->
    <form class="form" v-if="request.target.type == 'NON_SIDEREAL'" v-on:change="validate()">
      <div class="form-group col-md-6">
        <label for="scheme">Scheme:</label>
        <select id="scheme" v-model="request.target.scheme" class="form-control">
          <option value="MPC_MINOR_PLANET">MPC Minor Planet</option>
          <option value="MPC_COMET">MPC Comet</option>
        </select>
        <div class="error" v-if="errors.requests[index].target.scheme.length">
          <span class="text-danger" v-for="error in errors.requests[index].target.scheme">{{ error }}</span>
        </div>
      </div>
      <request-field id="epoch" label="Epoch (MJD)" v-model="request.target.epoch" :errpath="errors.requests[index].target.epoch" size="col-md-6"></request-field>
      <request-field id="orbinc" label="Orbital Inclination (deg)" v-model="request.target.orbinc" :errpath="errors.requests[index].target.orbinc" size="col-md-6"></request-field>
      <request-field id="longascnode" label="Longitude of ascentding Node (deg)" v-model="request.target.longascnode" :errpath="errors.requests[index].target.longascnode" size="col-md-6"></request-field>
      <request-field id="argofperih" label="Argument of Perihelion" v-model="request.target.argofperih" :errpath="errors.requests[index].target.argofperih" size="col-md-6"></request-field>
    </form>
  </div>
</div>
{% endverbatim %}
{% endblock %}
{% block extra_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
<script src="{% static 'js/request_create.js' %}"></script>
{% endblock %}
