{% extends "base.html" %}
{% load static %}
{% block title %}Create New Request {% endblock %}
{% block content %}
{% verbatim %}
<div id="vueapp">
  {{ userrequest }}
  <userrequest :errors="errors" v-on:userrequestupdate="userrequestUpdated"></userrequest>
</div>

<script type="text/x-template" id="userrequest-template">
  <div class="row userrequest">
    <div class="col-md-12">
    <h1>General Info</h1>
    <form class="form-horizontal">
      <custom-field v-model="group_id" label="Title" field="title" v-on:input="update" :errors="errors.group_id">
      </custom-field>
      <custom-select v-model="proposal" label="Proposal" field="proposal" v-on:input="update"
                     :errors="errors.proposal" :options="proposalOptions">
      </custom-select>
      <custom-select v-model="observation_type" label="Priority" field="observation_type" v-on:input="update"
                    :errors="errors.observation_type"
                    :options="[{value: 'NORMAL', text: 'Normal'},
                               {value:'TARGET_OF_OPPORTUNITY', text: 'Target Of Opportunity'}]">
      </custom-select>
      <custom-field v-model="ipp_value" label="Ipp Value" field="ipp_value"
                    v-on:input="update" :errors="errors.ipp_value">
      </custom-field>
    </form>
    <div v-for="(request, idx) in requests">
      <request :index="idx" :irequest="request" :iavailable_instruments="available_instruments"
               v-on:requestupdate="requestUpdated" :errors="_.get(errors, ['requests', idx], [])">
     </request>
      <button class="btn btn-default" v-on:click="addRequest(idx)">Copy Request</button>
    </div>
  </div>
</script>

<script type="text/x-template" id="request-template">
  <div class="row request">
    <div class="col-md-12">
      <h1>Request</h1>
      <form class="form-horizontal">
         <custom-select v-model="data_type" label="Data Type" v-on:input="update" :errors="errors.data_type"
                        :options="[{value:'IMAGE', text: 'Image'}, {value:'SPECTRA', text:'Spectra'}]">
        </custom-select>
        <custom-select v-model="instrument_type" label="Instrument" v-on:input="update" :errors="errors.instrument_type"
                       :options="availableInstrumentOptions">
        </custom-select>
      </form>
      <div v-for="(window, idx) in windows">
        <window :index="idx" :iwindow="window" v-on:windowupdate="windowUpdated"
                :errors="_.get(errors, ['windows', idx], [])">
        </window>
        <button class="btn btn-default" v-on:click="addWindow(idx)">Copy Window</button>
      </div>
    </div>
  </div>
</script>

<script type="text/x-template" id="window-template">
  <div class="row window">
    <div class="col-md-12">
      <h2>Window {{ index + 1}}</h2>
      <div v-for="error in errors.non_field_errors" class="alert alert-danger" role="alert">{{ error }}</div>
      <form class="form-horizontal">
        <custom-field v-model="start" label="Start" field="start" v-on:input="update" :errors="errors.start">
        </custom-field>
        <custom-field v-model="end" label="End" field="end" v-on:input="update" :errors="errors.end"></custon-field>
      </form>
    </div>
  </div>
</script>

<script type="text/x-template" id="custom-field">
  <div class="form-group" :class="{ 'has-error': errors }">
    <label :for="field" class="col-sm-2 control-label">{{ label }}</label>
    <div class="col-sm-10">
      <input :id="field" class="form-control" v-bind:value="value"
             v-on:input="update($event.target.value)" :name="field"/>
      <span class="help-block text-danger" v-for="error in errors">{{ error }}</span>
    </div>
  </div>
</script>

<script type="text/x-template" id="custom-select">
  <div class="form-group" :class="{ 'has-error': errors }">
    <label :for="field" class="col-sm-2 control-label">{{ label }}</label>
    <div class="col-sm-10">
      <select :id="field" v-bind:value="value" v-on:change="update($event.target.value)"
              :name="field" class="form-control">
        <option v-for="option in options" :value="option.value">{{ option.text }}</option>
      </select>
      <span class="help-block text-danger" v-for="error in errors">{{ error }}</span>
    </div>
  </div>
</script>

{% endverbatim %}
{% endblock %}
{% block extra_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="{% static 'js/request_create.js' %}"></script>
{% endblock %}
