{% extends "base.html" %}
{% load static %}
{% block title %}Create New Request {% endblock %}
{% block content %}
{% verbatim %}
<div id="vueapp">
  <div class="row">
    <div class="col-md-12">
      <h2>Observation Request: {{ userrequest.group_id }}</h2>
      <form class="form-inline" v-on:change="validate()">
        <div class="form-group" :class="{'has-error': errors.has('title')}">
          <label for="group_id">Title:</label>
          <input id="group_id" v-model="userrequest.group_id" v-validate data-vv-rules="required" name="title" class="form-control">
          <span v-show="errors.has('title')" class="help-block">{{ errors.first('title') }}</span>
        </div>
        <div class="form-group" :class="{'has-error': errors.has('proposal')}">
          <label for="proposal">Proposal:</label>
          <select id="proposal" v-model="userrequest.proposal" v-validate data-vv-rules="required" name="proposal" class="form-control">
            <option selected="selected">Choose a proposal</option>
            <option v-for="proposal in proposals">{{ proposal }}</option>
          </select>
          <span v-show="errors.has('proposal')" class="help-block">{{ errors.first('proposal') }}</span>
        </div>
        <div class="form-group" :class="{'has-error': errors.has('ipp_value')}">
          <label for="ipp_value">Ipp Value</label>
          <input id="ipp_value" type="number" v-validate data-vv-rules="" name="ipp_value" v-model="userrequest.ipp_value" class="form-control">
          <span v-show="errors.has('ipp_value')" class="help-block">{{ errors.first('ipp_value') }}</span>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Observation Elements</h3>
    </div>
  </div>
  <!-- For each Request -->
  <div class="row" v-for="(request, index) in userrequest.requests">
    <div class="col-md-12">
    <!-- Taget form -->
    <h4>Target: {{ request.target.name }}</h4>
    <form class="form-inline" v-on:change="validate()" data-vv-scope="request-{{ index }}">
      <div class="form-group">
        <label for="request_{{ index }}_target_name">Name:</label>
        <input id="request_{{ index }}_target_name" name="request_target_name" v-validate data-vv-rules="required" v-model="request.target.name" class="form-control">
        <span v-show="errors.has('requests[index]')" class="help-block">{{ errors.first('ipp_value') }}</span>
        <div class="error" v-if="errors.requests">
          <span class="text-danger" v-for="error in errors.requests[index].target.name">{{ error }}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="request_{{ index }}_target_type">Type:</label>
        <select id="request_{{ index }}_target_type" v-model="request.target.type" class="form-control">
          <option value="SIDEREAL" selected>Sidereal</option>
          <option value="NON_SIDEREAL">Non-Sidereal</option>
        </select>
        <div class="error" v-if="errors.requests">
          <span class="text-danger" v-for="error in errors.requests[index].target.type">{{ error }}</span>
        </div>
      </div>
    </form>
    <!-- Sidereal form -->
    <form class="form" v-if="request.target.type == 'SIDEREAL'" v-on:change="validate()">
      <div class="form-group col-md-6">
        <label for="request_{{ index }}_target_ra">Right Ascension:</label>
        <input id="request_{{ index }}_target_ra" v-model="request.target.ra" class="form-control">
        <div class="error" v-if="errors.requests">
          <span class="text-danger" v-for="error in errors.requests[index].target.ra">{{ error }}</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="request_{{ index }}_target_dec">Declination:</label>
        <input id="request_{{ index }}_target_dec" v-model="request.target.dec" class="form-control">
        <div class="error" v-if="errors.requests">
          <span class="text-danger" v-for="error in errors.requests[index].target.dec">{{ error }}</span>
        </div>
      </div>
    </form>
  </div>
</div>
{% endverbatim %}
{% endblock %}
{% block extra_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-beta.17/vee-validate.min.js"></script>
<script>
  Vue.use(VeeValidate);
</script>
<script src="{% static 'js/request_create.js' %}"></script>
{% endblock %}
