{% extends 'index.html' %}
{% load i18n bootstrap3 request_extras %}
{% block title %}Submitted Requests{% endblock %}
{% block request_list %}
{% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-12">
            <div class="filter-block">
                <form method="get" action="" class="form-inline">
                <div class="form-group">
                    {% bootstrap_field filter.form.state show_label=False show_help=False size='small' addon_before='State:' %}
                </div>
                <div class="form-group">
                    {% bootstrap_field filter.form.title show_label=False show_help=False size='small' addon_before='Title' %}
                </div>
                <input type="submit" class="btn btn-default btn-sm" value="Filter"/>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="userrequest-list">
                <h3>Recent Requests</h3>
                {% for ur in object_list %}
                    <div class="row userrequest userrequest-{{ ur.state|state_to_bs }}">
                        <div class="col-md-5 userrequest-block">
                            <p><i class="fa fa-{{ ur.state|state_to_icon }}"></i><a href="{{ ur.id }}"> {{ ur.group_id|default:'Unnamed Request' }}</a></p>
                            <p><i class="fa fa-calendar"></i> {{ ur.created }}</p>
                            <p><i class="fa fa-user"></i> {{ ur.submitter }} <i class="fa fa-users"></i> {{ ur.proposal }}</p>
                        </div>
                        {% if ur.request_set.all %}
                            {% for i in 'xxxxxx' %}
                                {% with req=ur.request_set.all|array_item:forloop.counter %}
                                {% if req %}
                                <div class="col-md-1 request-block bg-{{ req.state|state_to_bs }}">
                                    <i class="fa fa-{{ req.state|state_to_icon }} fa-2x request-icon text-{{ req.state|state_to_bs }}"></i>
                                    <span class="request-id text-muted">#{{ req.id }}</span>
                                </div>
                                {% else %}
                                    <div class="col-md-1 request-block">
                                    </div>
                                {% endif %}
                                {% endwith %}
                            {% endfor %}
                            <div class="col-md-1 request-block">
                            {% if ur.request_set.count > 6 %}
                                <p class="request-additional"><a href="#">+{{ ur.request_set.count|add:'-6' }}</a></p>
                            {% endif %}
                            </div>
                        {% else %}
                            <div class="col-md-6 bg-danger no-requests request-block">
                                <p>No requests attempted.</p>
                            </div>
                        {% endif %}
                    </div>
                {% empty %}
                    {% trans 'You have not submitted any requests.' %} <a href="#">{% trans 'Submit Observation Request' %}</a>
                {% endfor %}
            </section>
        </div>
    {% bootstrap_pagination page_obj %}
    </div>
{% else %}
    <h3>{% trans 'LCO.global Observation Portal' %}</h3>
    {% url 'auth_login' as login_url %}
    {% url 'registration_register' as register_url %}
    {% blocktrans %}
    <p>In order to request observations, you must first <a href="{{ login_url }}">Login</a>.</p>
    <p>Don't have an account? <a href="{{ register_url }}">Register</a></p>
    {% endblocktrans %}
{% endif %}
{% endblock %}
