{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} Proposal List {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>My Proposals</h2>
        <p>The following lists all proposals for which you are either the primary or a co-investigator. Proposals
        may span several semesters, and have many different time allocations per telescope class, type, etc.</p>
        <p>Click on the title of a proposal to view it's details and (if you are the primary investigator) manage co-investigators.</p>
        <form method="get" action="" class="form-inline pull-right">
            {% bootstrap_form  filter.form %}
            {% bootstrap_button button_type="submit" content="Filter" %}
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Proposal</td>
                    <td>Title</td>
                    <td>Principal Investigator</td>
                    <td>Co-Investigators</td>
                </tr>
            </thead>
            <tbody>
                {% for proposal in object_list %}
                <tr>
                    <td><a href="{% url 'proposals:detail' pk=proposal.id %}">{{ proposal.id }}</a></td>
                    <td>{{ proposal.title }}</td>
                    <td>{{ proposal.pi }}</td>
                    <td>{{ proposal.cis|slice:"3"|join:", " }}{% if proposal.cis|length > 3 %}...{% endif %}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">You are not a member of any proposals. Would you like to
                    <a href="{% url 'sciapplications:index' %}">submit a proposal?</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
