{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{% block title %}{% trans "Submit Application" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <p>
        {% blocktrans with semester=call.semester deadline=call.deadline eligibility=call.eligibility %}
        <p>You are creating a proposal for {{ semester }}. The deadline for all proposals to be submitted is {{ deadline }}.</p>
        <p>{{ eligibility }}</p>
        {% endblocktrans %}
        </p>
        {% bootstrap_form_errors form %}
        <form method="post" action="" enctype="multipart/form-data" id="app_form">
            {% csrf_token %}

            {{ form.status }}
            {{ form.call }}

            {% if form.title %}
                {% bootstrap_field form.title %}
            {% endif %}

            {% if form.abstract %}
                {% bootstrap_field form.abstract %}
            {% endif %}

            {% if form.pi %}
                {% bootstrap_label 'Principal Investigator' label_for=id_pi %}
                <div class="help-block">
                {% blocktrans %}If this is not you, please add email address of the PI. The email address given shouldrepresent the institutional affiliation through which the PI is authorized to apply for LCOGT time through the TAC (either the LCOGT TAC or NAOC TAC).
                {% endblocktrans %}
                </div>
                {% bootstrap_field form.pi show_label=false %}
            {% endif %}

            {% if form.coi %}
                {% bootstrap_label 'Co-investigators' label_for=id_coi %}
                <div class="help-block">
                {% blocktrans %}
                Add the email addresses (comma seperated) of any extra people who you with to add to this proposal.
                {% endblocktrans %}
                </div>
                {% bootstrap_field form.coi show_label=false %}
            {% endif %}

            {% if form.budget_details %}
                {% bootstrap_label 'Observing Budget' %}
                <div class="help-block">
                {% blocktrans %}Requested observing time in hours for the semester. Specify time requested for rapid response (immediate-within 15 minutes) observations separately. If you are applying to the LCOGT TAC, you may request time on any size telescope. If you are applying to the NAOC TAC, you may only request time on the 1-meter telescopes. {% endblocktrans %}
                </div>
                <table class="table table-striped">
                    <thead><tr><td>Telescope Class</td><td>Standard Time</td><td>Rapid Response</td></tr></thead>
                    <tbody>
                    {% for form in timerequest_form.forms %}
                    {{ form.id }}
                    <tr>
                        <td>
                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {{ form.telescope_class }}
                        </td>
                        <td>{{ form.std_time }}</td>
                        <td>{{ form.too_time }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {{ timerequest_form.management_form }}
                </table>

                {% bootstrap_label 'Observing budget explanation' label_for=id_budget_details %}
                <div class="help-block">
                Describe the expected distribution of targets and requests through the semester.In particular, estimate the fraction of targets that will be north of declination=+20degrees, and therefore, only observable from one of our northern sites.
                </div>
                {% bootstrap_field form.budget_details show_label=false %}
            {% endif %}

            {% if form.science_case %}
                {% bootstrap_label 'Science Case' label_for=id_science_case %}
                <div class="help-block">
                {% blocktrans %}
                <p>Please provide a scientific justification for the time requested. This should include the
                goals of the current project, with the scientific background, including pertinent
                references which should be listed in full in the figures page(s) or at the end of the
                Science Justification if space permits. The results of any previous time allocated for
                this project should be discussed.</p>

                <p>You may upload a single file with a maximum of 1 page of justification and 2 pages containing
                figures to support your case. We can only accept PDF formatted files. If uploading a file
                is not necessary, please use the following text field.</p>
                {% endblocktrans %}
                </div>
                {% bootstrap_field form.science_case show_label=False %}
                {% bootstrap_field form.science_case_file show_label=False %}
            {% endif %}

            {% if form.experimental_design %}
                {% bootstrap_label 'Experimental Design' label_for=id_experimental_design %}
                <div class="help-block">
                {% blocktrans %}
                <p>Describe the strategy of your observational program. Describe the characteristics of your
                targets, and justify the instruments and exposure times. Are there any unusual aspects of
                scheduling that might impact your success?</p>

                <p>For proposals that want some fraction of their time for rapid response observations, justify
                the need for this amount of time. (Rapid response observations will interrupt regularly
                scheduled observations, and so their use is restricted to cases in which this is the only mode
                in which these targets can be observe.)</p>

                <p>What measurements will you make from the data and what additional work will you do to address your science goals?</p>

                <p>You may also upload a pdf if your experimental design is complex.</p>
                {% endblocktrans %}
                </div>
                {% bootstrap_field form.experimental_design show_label=False %}
                {% bootstrap_field form.experimental_design_file show_label=False %}
            {% endif %}

            {% if form.instruments %}
                {% bootstrap_label 'Instruments' label_for=id_instruments %}
                <div class="help-block">
                {% blocktrans %}
                Select instrument(s) desired for 1m (SBIG/Sinistro) and/or 2m (FLOYDS/Spectral) observations.
                0.4m observations are limited to the SBIG STX-6303 imagers. Note that we intend to retire the
                1m SBIG imagers before the start of this semester. Ctrl+click to select mutliple instruments.
                {% endblocktrans %}
                </div>
                {% bootstrap_field form.instruments show_label=False %}
            {% endif %}

            {% if form.moon %}
                {% bootstrap_field form.moon %}
            {% endif %}

            {% if form.related_programs %}
                {% bootstrap_label 'Related programs on other telescopes' label_for=id_related_programs %}
                {% bootstrap_field form.related_programs show_label=False %}
            {% endif %}

            {% if form.past_use %}
                {% bootstrap_label 'Report on past use of LCOGT in the last 3 years' label_for=id_past_use %}
                {% bootstrap_field form.past_use show_label=False %}
            {% endif %}

            {% if form.publications %}
                {% bootstrap_label 'Applicant&#39s related publications'  %}
                <div class="help-block">
                {% blocktrans %}
                Up to 10 relevant publications from the past 3 years.
                {% endblocktrans %}
                </div>
                {% bootstrap_field form.publications show_label=False %}
            {% endif %}

            {% if form.management %}
                {% bootstrap_label 'Plan for management of entire scientific investigation' label_for=id_management %}
                {% bootstrap_field form.management show_label=False %}
            {% endif %}

            {% if form.relevance %}
                {% bootstrap_label 'Relevance to unique capabilities of the LCOGT network' label_for=id_relevance %}
                {% bootstrap_field form.relevance show_label=False %}
            {% endif %}

            {% if form.contribution %}
                {% bootstrap_label 'Contribution brought by non-LCOGT participants' label_for=id_contribution %}
                {% bootstrap_field form.contribution show_label=False %}
            {% endif %}

            {% if form.science_justification %}
                {% bootstrap_field form.science_justification %}
            {% endif %}

            {% if form.ddt_justification %}
                {% bootstrap_label 'Justification of discrentionary time' label_for=id_ddt_justification %}
                {% bootstrap_field form.ddt_justification show_label=False %}
            {% endif %}
        </form>
        <a href="#">Back to top</a>
    </div>
    <div class="col-md-3">
        <h3>{% trans 'Application status' %}:
            {% if form.instance.id %}
                {{ form.status.value }}
            {% else %}
                {% trans 'UNSAVED' %}
            {% endif %}
        </h3>
        {% blocktrans %}
        <p>You may save your application and work on it later.</p>
        <p>Once you submit your application, you will no longer be able to edit it.</p>
        {% endblocktrans %}
        {% buttons %}
        <a href="#" class="btn btn-default" id="save">{% trans 'Save' %}</a>
        <a href="#" class="btn btn-success" id="submit">{% trans 'Submit' %}</a>
        {% endbuttons %}
        {% if form.instance.id %}
        <p>{% trans 'Deleting a draft is an irreversible action' %}.</p>
        <p><a href="{% url 'sciapplications:delete' pk=form.instance.id %}" class="btn btn-danger">{% trans 'Delete' %}</a></p>
        {% endif %}
        <!-- <p><a href="{% url 'sciapplications:index' %}">{% trans 'Back to application list' %}</a></p> -->
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#app_form tbody tr').formset({
            prefix: '{{ timerequest_form.prefix }}',
            deleteCssClass: 'fa fa-times delete-timeallocation',
            deleteText: '',
            added: function(row){
               row.find('input[type=number]').val(0)
            }
        });
    });
    $('#submit').click(function(){
        if(window.confirm('Submit this application? You will no longer be able to edit it')){
            $('#id_status').val('SUBMITTED')
            $('#app_form').submit()
        }
    });
    $('#save').click(function(){
        $('#id_status').val('DRAFT')
        $('#app_form').submit()
    });
    $("#id_science_case_file").change(function(){
        if(!$("#id_science_case").val()){
            $("#id_science_case").val('Attached')
        }
    });
    $("#id_experimental_design_file").change(function(){
        if(!$("#id_experimental_design").val()){
            $("#id_experimental_design").val('Attached')
        }
    });
</script>
{% endblock %}
