{% load i18n %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ object.title}}</title>
    {% if not pdf %}
    <link rel="stylesheet" type="text/css" href="/static/css/print.css">
    {% endif %}
</head>
<body>
    {% if not pdf %}
    <ul style="float:right;">
    <li><a href="#" onclick="window.history.back()">Back</a></li>
    <li><a href="#" onclick="window.print()">Print this page</a></li>
    <li><a href="{% url 'sciapplications:pdf' pk=object.id %}">View Pdf</a></li>
    </ul>
    {% endif %}
    {% if object.title %}
        <h1>{{ object.title }}</h1>
    {% endif %}

    <h2>Semester: <small>{{ object.call.semester }}</small></h2>

    {% if object.status == 'SUBMITTED' and object.submitted %}
    <h2>Submitted: <small>{{ object.submitted|date:"j M Y P" }}</small></h2>
    {% endif %}

    {% if object.abstract %}
        <br/>
        <br/>
        <h2>{% trans 'Abstract' %}</h2>
        <p>{{ object.abstract|linebreaks }}</p>
    {% endif %}

    {% if object.timerequest_set.count %}
    <h2>{% trans 'Observing Budget' %}</h2>
    <table>
      <thead><tr><td>{% trans 'Instrument' %}</td><td>{% trans 'Standard Time' %}</td><td>{% trans 'Rapid Response' %}</td></tr></thead>
      <tbody>
      {% for timerequest in object.timerequest_set.all %}
      <tr>
          <td>{{ timerequest.instrument }}</td>
          <td>{{ timerequest.std_time }}</td>
          <td>{{ timerequest.too_time }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}

    <h2>{% trans 'Moon Phase' %}: <small>{{ object.moon }}</small></h2>

    <div class="page-break"></div>

    <h2>{% trans 'Principal Investigator' %}</h2>
    {% if object.pi %}
      <p>{{ object.pi_first_name }}{{ object.pi_last_name }} &lt;{{ object.pi }}&gt; ({{ object.pi_institution }})</p>
    {% else %}
      <p>{{ object.submitter.first_name }} {{ object.submitter.last_name }} &lt;{{ object.submitter.email }}&gt; ({{ object.submitter.profile.institution }})</p>
    {% endif %}

    {% if object.coinvestigator_set.exists %}
      <h2>{% trans 'Co Investigators' %}</h2>
      <table>
        <thead><tr><td>{% trans 'First Name' %}</td><td>{% trans 'Last Name' %}</td><td>{% trans 'Email' %}</td><td>{% trans 'Institution' %}</td></tr></thead>
        <tbody>
        {% for coi in object.coinvestigator_set.all %}
          <tr><td>{{ coi.first_name }}</td><td>{{ coi.last_name }}</td><td>{{ coi.email }}</td><td>{{ coi.institution }}</td></tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if object.budget_details %}
    <h2>{% trans 'Observing Budget Explanation' %}</h2>
    <p>{{ object.budget_details|linebreaks }}</p>
    {% endif %}


    {% if object.science_case and object.science_case != 'Attached' %}
            <h2>{% trans 'Science Case' %}</h2>
            <p>{{ object.science_case|linebreaks }}</p>
    {% endif %}
    {% if object.science_case_file %}
            {% if pdf %}
                <!-- SCI_CASE_FILE -->
            {% else %}
                <h2>{% trans 'Science Case File' %}</h2>
                <p><a href="{{ object.science_case_file.url }}">Download</a></p>
            {% endif %}
    {% endif %}
    {% if object.experimental_design and object.experimental_design != 'Attached' %}
            <h2>{% trans 'Experimental Design' %}</h2>
            <p>{{ object.experimental_design|linebreaks }}</p>
    {% endif %}
    {% if object.experimental_design_file %}
            {% if pdf %}
                <!-- EXP_DESIGN_FILE -->
            {% else %}
                <h2>{% trans 'Experimental Design File' %}</h2>
                <p><a href="{{ object.experimental_design_file.url }}">Download</a></p>
            {% endif %}
    {% endif %}
    {% if object.related_programs %}
            <h2>{% trans 'Related Programs' %}</h2>
            <p>{{ object.related_programs|linebreaks }}</p>
    {% endif %}

    {% if object.past_use %}
            <h2>{% trans 'Past Use' %}</h2>
            <p>{{ object.past_use|linebreaks }}</p>
    {% endif %}

    {% if object.publications %}
            <h2>{% trans 'Applicant&#39s related publications' %}</h2>
            <p>{{ object.publications|linebreaks }}</p>
    {% endif %}

    {% if object.management %}
            <h2>{% trans 'Plan for management of entire scientific investigation' %}</h2>
            <p>{{ object.management|linebreaks }}</p>
    {% endif %}

    {% if object.relevance %}
            <h2>{% trans 'Relevance to uniqe capabilities of the LCOGT netowork' %}</h2>
            <p>{{ object.relevance|linebreaks }}</p>
    {% endif %}

    {% if object.contribution %}
            <h2>{% trans 'Contribution brought by non-LCOGT pariticipants' %}</h2>
            <p>{{ object.contribution|linebreaks }}</p>
    {% endif %}

    {% if object.science_justification %}
            <h2>{% trans 'Science Justification' %}</h2>
            <p>{{ object.science_justification|linebreaks }}</p>
    {% endif %}

    {% if object.ddt_justification %}
            <h2>{% trans 'DDT Justification' %}</h2>
            <p>{{ object.ddt_justification|linebreaks }}</p>
    {% endif %}
</body>
</html>
