{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}Accept Terms{% endblock %}
{% block content %}
<form method="POST" action="{% url 'accept-terms' %}">
  {% csrf_token %}
  <h1>Accept LCO Terms of Agreement</h1>
  <p>Yo. If you're gonna use LCO, you have to agree that we need to keep some information in our systems about
  you. Nothing more than we need. Just to be able to provide service to you. By checking the following, you
  accept these terms. And promise not to sue us or anything like that.</p>
  {% bootstrap_field form.accept_1 %}
  <p>Also, by checking the following, you agree to leave us a positive review on Yelp.</p>
  {% bootstrap_field form.accept_2 %}
  {% buttons submit="Accept" %}{% endbuttons %}
</form>
{% endblock %}
