body {
    font-size: 16px;
    font-family: 'Affogato-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    margin: 0 0 10px;
}

a:hover {
    color: #337ab7;
    text-decoration: none;
}

.noauth {
    line-height: 1.4em;
}

.noauth li {
    height: 75px;
}

.noauth span {
    vertical-align: middle;
    padding-top: 5px;
}

.empty-requests {
    margin-top: 50px;
}

.sidebar-nav {
    font-size: 1.3em;
}

.sidebar-nav li {
    height: 50px;
}

.thumbnail {
    margin-bottom: 0px;
}

.downPage ul.nav {
    width: auto;
}

.navbar-main {
    width: 70% !important;
}

.navbar-right {
    width: auto;
}


.head.downPage .headNav {
    width: 65%;
}

.head {
    box-shadow: none;
}

.btn {
    font-size: 1em;
    text-transform: none;
}

.intro {
    max-height: 10px;
}
.call-block {
    margin: 15px 0px 15px 0px;
}

.delete-timeallocation {
    margin-left: 10px;
}

.filter-block {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 20px;
}

.userrequest {
    border: 1px solid #EFF0EC;
    min-height: 75px;

}

.userrequest-title {
    font-size: 1.2em;
}

.userrequest-success {
    background: linear-gradient(to right,#3c763d 0,#3c763d 10px,#fff 10px,#fff 100%) no-repeat;
}

.userrequest-warning {
    background: linear-gradient(to right,#8a6d3b 0,#8a6d3b 10px,#fff 10px,#fff 100%) no-repeat;
}

.userrequest-danger {
    background: linear-gradient(to right,#a94442 0,#a94442 10px,#fff 10px,#fff 100%) no-repeat;
}

.userrequest-info {
    background: linear-gradient(to right,#31708f 0,#31708f 10px,#fff 10px,#fff 100%) no-repeat;
}

.userrequest-block > p {
    margin: 3px;
}

.userrequest-block.border-right {
    border-right: 1px solid #EFF0EC;
}

.request-block {
    border: 1px solid #ffffff;
    min-height: 75px;
    background-color: #eee;
}

.request-id {
    margin-left: -5px;
}

.request-icon {
    margin-left: 5px;
    margin-top: 10px;
}

.request-count {
    font-size: 1.9em;
    margin-top: 15px;
    margin-bottom: 5px;
}
.request-additional {
    padding-top: 20px;
    font-size: 1.5em;
}

.no-requests {
    font-size: 1.5em;
}

.no-requests > p {
    margin-top: 20px;
}

.child-requests {
    line-height: 0.9;
    margin-bottom: 0px;
}

.request-detail {
    border-left: 1px solid #EFF0EC;
    border-right: 1px solid #EFF0EC;
    min-height: 560px;
}

.request-show {
    border: 1px solid #EFF0EC;
    border-top: 0px solid #EFF0EC;
}

.request-show:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}

.request-show p {
    margin: 0px;
}

.spacer {
    margin-bottom: 10px;
}

.panel-title {
  font-size: 1.2em;
  text-align: center;
  height: 30px;
}

.panel-actions {
  text-align: right;
}

.fa-2x {
  vertical-align: middle;
}

.compose-help {
    font-size: 0.9em;
}

#tabs > ul {
    border-bottom: 0px;
}

.duration {
    text-align: right;
    margin-bottom: 10px;
}

.collapse-inline {
    display: inline-block;
    height: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* sidebar */
.bs-docs-sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 16px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 14px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: #009ec3;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #31b0d5;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}
