{% extends 'base.html' %}
{% block title %}Help{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Help</h1>
        <p>For information about the LCO network, please see the <a href="https://lco.global/documentation/">Documentation page.</a>
        <p>
            If you require additional support, you may contact science support at <a href="mailto:science-support@lco.global">science-support@lco.global</a>.
            For enquires related to particual observation requests, please include the tracking and request numbers in your email.
        </p>
        <a href="mailto:science-support@lco.global" class="btn btn-default">Email Science Support</a>
    </div>
</div>
{% endblock %}
