<div class="plot_controls" id="{{request_number}}-{{plot_type}}-plot-controls">
    <button type="button" id="{{request_number}}-{{plot_type}}-zoom-in" class="btn btn-default" data-percentage="-0.2">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
    </button>
    <button type="button" id="{{request_number}}-{{plot_type}}-zoom-out" class="btn btn-default" data-percentage="0.2">
        <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
    </button>
</div>