{% extends 'base.html' %}
{% load static %}
{% block title %}Planning Tools{% endblock %}
{% block content %}
<div id="app">
  <select v-model="instrument" @change="update_chart">
    <option value="1M0-SCICAM-SINISTRO">1m Sinistro</option>
    <option value="2M0-SCICAM-SPECTRAL">2m Spectral</option>
    <option value="2M0-FLOYDS-SCICAM">2m FLOYDS</option>
    <option value="0M4-SCICAM-SBIG">.4m SBIG</option>
  </select>
  <div class="row">
    <div class="col-md-12">
      <h1>Planning Tools</h1>
      <h3>Network Contention</h3>
      <p>
          This plot shows the amount of telescope time requested by RA and instrument.
          Observations requested where contention is high are more likely to
          incur scheduling conflicts.
      </p>
      <Contention></Contention>
    </div>
  </div>
  <center>Right Ascension</center>
	<div class="container"><canvas id="myChart" width="850" height="430"></canvas></div>
</div>{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" src="{% static '/bundles/tools.js' %}"></script>
{% endblock %}
